*{
	margin: 0;
	padding: 0;
}
/*css set*/
.w{
	width: 1234px;
	margin: 0 auto;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*top begin*/
.head{
	height: 60px;
	line-height: 60px;
	text-align: right;
	background: url(img/logo.jpg) no-repeat 40px 50%;
}
.head span{
	font: 16px "微软雅黑";
	padding-left: 65px;
	background: url(img/phone.jpg) no-repeat 40px 50%;
}
.banner{
	width: 100%;
	height: 400px;
	background-color: #38a884;
}
.banner .bannerimg{
	height: 400px;
	background: url(img/gfimg1.jpg) no-repeat;
}
.banner .input{
	width: 352px;
	height: 268px;
	background-color: #FBFBFB;
	box-shadow: 0px 1px 1px #e0e0e0;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
	float: right;
	position: relative;
	top: 69px;
}
.banner .input ul li{
	width: 318px;
	height: 37px;
	margin: 0 auto;
	margin-bottom: 7px;
}
.banner .input .tologin{
	margin: 7px 0;
	text-align: right;
}
.banner .input .tologin a{
	font: 12px "微软雅黑";
	text-decoration: underline;
	text-align: right;
}
.banner .input li a{
	font: 14px "微软雅黑";
	color: #38a884;
}
.banner input::-moz-placeholder{
	font-size: 14px;
	color: #38a884;
}
.banner .input .i{
	width: 100%;
	height: 38px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding-left: 30px;
}
.banner .input .phonenum{
	background: #f7f7f7 url(img/input_ico.png) no-repeat 5px -36px;
	background-size: 21px;
}
.banner .input .code{
	width: 67%;
	margin-bottom: 7px;
	background: #f7f7f7 url(img/input_ico.png) no-repeat 5px -89px;
	background-size: 21px;
}
.banner .input .submit{
	box-sizing: border-box;
    height: 38px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #38a884;
    width: 28%;
    position: absolute;
    font: 14px "微软雅黑";
    margin-left: 6px;
}
.banner .input .password{
	margin-bottom: 7px;
	background: #f7f7f7 url(img/input_ico.png) no-repeat 5px -192px;
	background-size: 21px;
}
.banner .input .agree{
	border: 1px solid #ccc;
    height: 15px;
    width: 15px;
    vertical-align: bottom;
    position: relative;
    top: -10px;
}
.banner .input span{
	font-size: 12px;
	margin-left: 5px;
	line-height: 36px;
}
.banner .input .btn{
	height: 42px;
	font: 17px/42px "微软雅黑";
	color: #38a884;
	text-align: center;
	background-color: #f7830f;
	border: 1px solid #F7830F;
	border-radius: 3px;
}

/*wrapper*/
.wrapper{
	width: 100%;
	height: 2595px;
	background-color: #f5f5f5;
	padding-top:60px ;
}
.wrapper1{
	height: 656px;
	background-color: #FFFFFF;
}
.wrapper1 .wrapperimg{
	height: 286px;
	background: url(img/pcb_05.jpg) no-repeat 142px 0;
}
.wrapper1 .message p:before{
	display: block;
    content: '';
    width: 3px;
    height: 3px;
    background: #38a884;
    border-radius: 50%;
    position: relative;
    top: 12px;
    left: -9px;
}
.wrapper1 .m{
    width: 447px;
    height: 319px;
    padding-top: 50px;
	padding-left: 85px;
	padding-right: 85px;
}
.wrapper1 .m .title{
    font: 24px "微软雅黑";
    color: #38a884;
    text-align: center; 
    padding-bottom: 25px;
    font-weight: bold;
}
.wrapper1 .message1{
    float: left;
}
.wrapper1 .message2{
    float: right;
}
.wrapper1 .m p{
	font: 16px "微软雅黑";
    color: #777;
    padding-bottom: 12px;
}
.wrapper .color{
    margin-top: 60px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px #e0e0e0;
    border: 1px solid #e4e4e4;
}
.wrapper h1{
	font: 48px "微软雅黑";
    color: #38a884;
    padding-top: 55px;
}
.wrapper2{
	height: 378px;
	text-align: center;
}
.wrapper2 h1{
    padding-bottom: 45px;
}
.wrapper3{
	height: 385px;
	text-align: center;
}
.wrapper3 h1{
    padding-bottom: 5px;
}
.wrapper3 p{
	font: 18px "微软雅黑";
    color: #777;
    padding-bottom: 12px;
}
.wrapper3 p span{
	color: #f7830f;
}
.wrapper3 .ad{
	width: 305px;
    height: 136px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    position: relative;
    left: 146px;
}

.wrapper4{
	height: 870px;
	text-align: center;
}